@import "tailwindcss";
/* ======================================================================== */
@theme {
  --color-primary: #0a66c2;
  --color-blackLight: #62748e;
  --color-hoverColor: #004182;
}
@layer utilities {
  .container-css {
    @apply max-w-[1250px] mx-auto ;
  };
  .transition-css{
    @apply transition duration-300
  };
  .space-section{
    @apply pt-18
  }
}

/* H1 in Login Page*/
@media (max-width: 385px) {
  .login-h1 {
    font-size: 22px;
    font-weight: 600;
  }
  .login-image {
    width: 100%;
  }
}
