@import "tailwindcss";
/* ======================================================================== */
@theme {
  --color-primary: #6c63ff;
  --color-blackLight:#62748e;
}
@layer utilities {
  .container-css {
    @apply max-w-337.5 mx-auto p-2;
  }
}


/* H1 in Login Page*/
@media(max-width:385px){
  .login-h1{
    font-size: 22px;
    font-weight: 600;
  }
}