@import "tailwindcss";
/* ======================================================================== */
@theme {
  --color-primary: #0a66c2;
  --color-blackLight:#62748e;
}
@layer utilities {
  .container-css {
    @apply max-w-370 mx-auto p-2;
  }
}


/* H1 in Login Page*/
@media(max-width:385px){
  .login-h1{
    font-size: 22px;
    font-weight: 600;
  }
  .login-image {
    width: 100%;
  }
}